{% extends 'layout.html' %}{% block title %}Register{% endblock title %}

{% block container %}

<div class="flex items-center justify-center h-screen">

    <form method="post" class="bg-[#F2F2F2] w-[40rem] rounded-[20px] items-center justify-center p-8">
        {% csrf_token %}

        <div class="">

            <div class="name-fields flex mb-3 w-full">
                <div class="mr-3">
                    <input class="
                    px-2 
                    py-1 
                    w-max 
                    rounded 
                    border-2 
                    w-full 
                    h-[3.2rem]" type="text" name="nombre" id="nombre" placeholder="Nombre">
                </div>
    
                <div class="">
                    <input class="
                    px-2 
                    py-1 
                    w-max 
                    rounded 
                    border-2 
                    w-full 
                    h-[3.2rem]" type="text" name="apellido" id="apellido" placeholder="Apellido">
                </div>
            </div>

            <div class="email-fields flex mb-3">
                <div class="mr-3">
                    <input class="
                    px-2 
                    py-1 
                    w-max 
                    rounded 
                    border-2 
                    w-full 
                    h-[3.2rem]" type="email" name="email" id="email" placeholder="Email">
                </div>
    
                <div class="">
                    <input class="
                    px-2 
                    py-1 
                    w-max 
                    rounded 
                    border-2 
                    w-full 
                    h-[3.2rem]" type="email" name="emailconfirm" id="emailconfirm" placeholder="Confirm Email">
                </div>
            </div>

            <div class="password-fields flex mb-3 ">
                <div class="mr-3">
                    <input class="
                    px-2 
                    py-1 
                    w-max 
                    rounded 
                    border-2 
                    w-full 
                    h-[3.2rem]" type="password" name="password" id="password" placeholder="Password">
                </div>
    
                <div class="">
                    <input class="
                    px-2 
                    py-1 
                    w-max 
                    rounded 
                    border-2 
                    w-full 
                    h-[3.2rem]" type="password" name="passwordconfirm" id="passwordconfirm" placeholder="Password Confirm">
                </div>
            </div>

            <div class="">
                <button
                    class="px-5 py-1.5 bg-gradient-to-r from-[#1AA7EC] to-[#1E2F97] rounded-[8px] text-white font-medium w-full h-[3.2rem]"
                    type="submit">Registrar</button>
            </div>

        </div>

    </form>

</div>

{% endblock container %}