{% extends 'layout.html' %} {% block title %}Add Categoria{% endblock title %}

{% block container %}

<div class="container d-flex justify-content-center">

    <div class="categoria-form mt-3 px-3 py-3 rounded">
        <div class="row">

            <div class="col-12 d-flex justify-content-center">
    
                <a href="{% url 'home' %}" class="btn btn-primary me-3">Regresar</a>
    
            </div>
    
        </div>
    
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
        
                <div class="modal-content">
        
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir nueva categoria</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
        
                    <div class="modal-body">
                        <form method="post" class="rounded mt-3 ">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="addcategorias" id="addcategorias"
                                placeholder="Categoria">
                            <button class="btn btn-primary" type="submit">Añadir categoria</button>
                        </form>
                    </div>
        
                    <div class="modal-footer">
        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock container %}