{% extends 'layout.html' %} {% block title %}Add Categoria{% endblock title %}

{% block container %}

<div class="categoria-form flex items-center justify-center h-screen">

    <form method="post" class="w-[43.6rem] h-[16.8rem] bg-[#FFFFFF] rounded-[20px] flex items-center justify-center">
        {% csrf_token %}

        <div class="btn mx-3">
            <a class="inline-block 
            px-2 
            text-lg 
            font-bold 
            text-center 
            text-[#8A8A8A] 
            rounded-t-lg 
            border-b-2 
            border-transparent 
            hover:text-[#1D7DC2] 
            hover:border-[#1D7DC2]" href="{% url 'home' %}">Return</a>
        </div>

        <div class="container">
            <input class="
            px-2 
            py-1 
            w-[22.563rem] 
            rounded-[8px]
            border-2 
            h-[3.2rem]" type="text" name="addcategorias" id="addcategorias" placeholder="Categoria">

            <button
                class="px-5 py-1.5 bg-gradient-to-r from-[#1AA7EC] to-[#1E2F97] rounded-[8px] text-white font-medium h-[3.1rem] w-[12.75rem]"
                type="submit">Añadir categoria</button>
        </div>

    </form>

</div>

{% endblock container %}