{% extends 'layout.html' %} {% block title %}Historial{% endblock title %}

{% block container %}

<div class="container ">

    <div class="row">
        <div class="col">
            <a href="/" class="btn btn-primary mt-5">Regresar</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table mt-5">
                <tr>
                    <th class="text-primary" scope="col">Monto</th>
                    <th class="text-primary" scope="col">Descripcion</th>
                    <th class="text-primary" scope="col">Categoria</th>
                    <th class="text-primary" scope="col">Tipo</th>
                    <th class="text-primary" scope="col">Fecha</th>
                </tr>
                {% for historial in historials  %}
                <tr>
                    
                    <th class="fw-normal" scope="row">{{historial.monto}}$</th>
                    <th class="fw-normal" scope="row">{{historial.descripcion}}</th>
                    <th class="fw-normal" scope="row">{{historial.categoria}}</th>
                    <th class="fw-normal" scope="row">{{historial.tipo}}</th>
                    <th class="fw-normal" scope="row">{{historial.fecha}}</th>
                    
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>



{% endblock container %}