{% extends 'layout.html' %} {% block title %}Home{% endblock title %}

{% block container %}


<div class="container mt-3 d-flex justify-content-center">

    <div class="profile-content p-3 rounded-3 shadow" style="width: 575px; background:#F2F2F2;">

        <div class="row align-items-center">
            <div class="col-sm-3">
                <div class="profile-photo">
                    <img id="photo" style=""
                        src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg"
                        alt="">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="profile-content-name-settings align-items-center">
                    <p class="profile-name">Joel Arias De La Cruz</p>

                    <a href="#" style="text-decoration: none; font-weight:500; color:#949494;">Profile
                        Settings <i class="fas fa-user-cog"></i></a>
                </div>
            </div>

            <div class="col">
                <a id="logout-btn" href="{% url 'logout' %}">
                    Cerrar sesion</a>
            </div>
        </div>
    </div>


</div>

<div class="container mt-3 d-flex justify-content-center">

    <form method="post" id="main-form">
        {% csrf_token %}

        <div class="registro-form container p-4 rounded-3 shadow">

            <div class="buttons d-flex justify-content-center">

                <div class="row mt-3 mb-3">
                    <div class="col"><a href="{% url 'home' %}" class="btn btn-primary">Registro</a></div>
                    <div class="col"><a href="{% url 'categoria' %}" class="btn btn-primary">Categoria</a></div>
                    <div class="col"><a href="{% url 'historial' %}" class="btn btn-primary">Historial</a></div>
                </div>
            </div>

            <div class="row mt-3 mb-3">

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" type="number" step=".01" name="monto" id="monto"
                            placeholder="Monto">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Categoria</span>
                        <select class="form-select" name="categoria" id="category">
                            {% for categoria in categorias %}
                            <option value="{{categoria.nombre}}">{{categoria.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col">
                    <textarea class="form-control mt-3 mb-3" name="descripcion" id="descripcion" cols="30" rows="10"
                        placeholder="Descripcion"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-8 d-flex justify-content-center mb-3">
                    <input class="form-control" type="date" name="datetime" id="datetime">
                </div>

                <div class="col d-flex justify-content-center mb-3">
                    <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
            </div>

        </div>

    </form>
</div>

{% endblock container %}